body {
    font-family: 'Inter', sans-serif;
    background-color: #f4fdf9;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #e9cc12;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

.icon {
    background-color: #31eaa6;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.icon img {
    width: 35px;
    height: 35px;
}

h2 {
    margin-top: 20px;
    font-weight: 600;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin: 10px 0 5px;
    font-weight: 500;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.icon-field {
    margin-right: 8px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
}

.btn {
    background-color: #1243bd;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background-color: #008f5c;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #00a86b;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}
